.product-info-container {
  color: #000;
}

.list-group-value {
  font-size: 12px;
  font-weight: 600;
}

.info-label {
  font-size: 12px;
}

.enlarged-image-container {
  background: #fff !important;
}

.image-magnify-source {
  div {
    cursor: zoom-in !important;
  }
}